body {
  background-color: #0a1930;
  font-family: Montserrat, sans-serif;
  color: #c2cee0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 1.22em;
  font-weight: 700;
  letter-spacing: 0.01em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 1.32em;
  font-weight: 700;
  letter-spacing: 0.01em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 1.32em;
  font-weight: 700;
  letter-spacing: 0.01em;
}

p {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.7em;
  font-weight: 400;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero__shape {
  position: absolute;
  left: auto;
  top: auto;
  right: -15vw;
  bottom: -20vw;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  background-color: #182d4c;
}

.btn {
  position: relative;
  display: inline-block;
  height: 48px;
  padding: 14px 52px 14px 24px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 1px none #000;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.btn__text {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

.btn__ic {
  position: absolute;
  left: auto;
  top: 0%;
  right: 24px;
  bottom: 0%;
  z-index: 2;
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.topbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.soc {
  display: inline-block;
  margin: -8px;
}

.soc__item {
  display: inline-block;
  padding: 8px;
  opacity: 0.6;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.soc__item:hover {
  opacity: 1;
}

.hero__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.hero__sidebar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  min-width: 260px;
  padding-right: 40px;
  padding-bottom: 96px;
  padding-left: 40px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #061328;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: -4px;
  margin-bottom: -4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu__item {
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 28px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #626d8e;
  font-size: 16px;
  line-height: 1.22em;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.menu__item:hover {
  color: #a2b4cf;
}

.menu__item.w--current {
  color: #c2cee0;
}

.menu__line {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 16px;
  height: 3px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #626d8e;
}

.menu__line.menu__line--ang {
  background-color: #dd244a;
}

.menu__line.menu__line--vue {
  display: none;
  background-color: #41b883;
}

.menu__line.menu__line--react {
  display: none;
  background-color: #61dafb;
}

.hero__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15vh 96px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero__scroll {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero__content {
  position: relative;
  z-index: 2;
}

.venue__date {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.venue__date.venue__date--md {
  font-size: 14px;
}

.hero__h {
  margin-top: 16px;
  font-size: 68px;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.hero__h-color {
  color: #dd244a;
}

.hero__desc {
  max-width: 560px;
  margin-top: 24px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.7em;
}

.venue__place {
  margin-left: 8px;
  color: #13b6da;
  font-size: 14px;
  line-height: 1.22em;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.venue__place.venue__place--md {
  font-size: 12px;
}

.venue {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.hero__logo {
  position: absolute;
  top: 15vh;
  right: -60px;
  display: block;
  width: 120px;
  height: 120px;
}

.logo {
  width: 172px;
}

.hero__row {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 648px;
  margin: -6px;
}

.hero__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  max-width: 250px;
  padding: 6px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.card {
  width: 100%;
  padding: 32px 24px;
  background-color: #122541;
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  text-align: center;
  text-decoration: none;
}

.card:hover {
  -webkit-transform: translate(0px, -8px);
  -ms-transform: translate(0px, -8px);
  transform: translate(0px, -8px);
}

.card__photo {
  width: 96px;
  height: 96px;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  border-radius: 50%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__photo.card__photo--ph1 {
  background-image: url('../images/ryan.jpg');
}

.card__photo.card__photo--ph2 {
  background-image: url('../images/kara.jpg');
}

.card__photo.card__photo--ph3 {
  background-image: url('../images/brandon.jpeg');
}

.card__h {
  font-size: 16px;
  line-height: 1.22em;
}

.card__occupation {
  margin-top: 8px;
  color: #626d8e;
  font-size: 13px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.scroll {
  position: absolute;
  bottom: 0px;
}

.scroll__mouse {
  width: 23px;
  height: 39px;
  margin-bottom: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: #3a4669;
  border-radius: 20px;
}

.scroll__wheel {
  width: 4px;
  height: 4px;
  margin-top: 14px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: #13b6da;
}

.scroll__line {
  width: 1px;
  height: 32px;
  margin-right: auto;
  margin-left: auto;
  background-color: #3a4669;
}

.intro {
  margin-bottom: 100px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #122541;
}

.container {
  width: 100%;
  max-width: 1128px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -12px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.future-card__row {
  margin-bottom: 44px;
}

.row.sponsors__row-logo {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.col {
  padding: 12px;
}

.col.intro__col {
  width: 50%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.col.speaker__col {
  width: 65%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.col.speaker__col-sm {
  width: 35%;
}

.col.speech__col {
  width: 65%;
}

.col.speech__col-sm {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col.future__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col.future__col-desc {
  position: relative;
  width: 41.66%;
  padding-top: 36px;
  padding-left: 64px;
}

.col.future-card__col {
  width: 50%;
}

.col.past__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.col.sponsors__col-desc {
  width: 33.33%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.col.sponsors__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col.sponsors__col-logo {
  width: 25%;
}

.col.footer__main-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col.footer__col {
  width: 25%;
}

.intro__desc {
  margin-top: 24px;
  font-size: 18px;
}

.intro__img {
  display: block;
  width: 100%;
  max-width: 433px;
}

.section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.future {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #061328;
}

.modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.modal__content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 60%;
  height: 100vh;
  padding: 56px 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #061328;
}

.modal__bg {
  width: 40%;
  background-color: #122541;
  background-image: url('../images/modal__bg_img.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.cta-form {
  width: 100%;
  max-width: 380px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.input {
  width: 100%;
  height: 56px;
  margin-bottom: 24px;
  padding: 12px 24px;
  border: 1px none #000;
  background-color: #3a4669;
  color: #fff;
  font-size: 15px;
  line-height: 1.32em;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.input::-webkit-input-placeholder {
  color: #a2b4cf;
}

.input:-ms-input-placeholder {
  color: #a2b4cf;
}

.input::-ms-input-placeholder {
  color: #a2b4cf;
}

.input::placeholder {
  color: #a2b4cf;
}

.cta-form__btn {
  margin-top: 40px;
}

.cta-form__h {
  margin-bottom: 16px;
}

.cta-form__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #182d4c;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  cursor: pointer;
}

.modal__close-btn:hover {
  background-color: #3a4669;
}

.cta-form__success {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  line-height: 1.7em;
}

.cta-form__error {
  margin-top: 16px;
  padding: 8px 20px;
  background-color: #f46663;
  color: #fff;
  line-height: 1.7em;
}

.cta-fotm__back-home {
  margin-top: 24px;
  padding: 8px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.mobile-back {
  display: none;
}

.talk {
  width: 100%;
  max-width: 890px;
  margin-right: auto;
  margin-left: auto;
}

.speaker__photo-wrap {
  position: relative;
  width: 100%;
  height: 256px;
  max-width: 256px;
  margin-right: 24px;
  margin-left: auto;
}

.speaker__photo {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker__photo.speaker__photo--ph1 {
  background-image: url('../images/ryan.jpg');
}

.speaker__photo.speaker__photo--ph2 {
  background-image: url('../images/kara.jpg');
}

.speaker__photo.speaker__photo--ph3 {
  background-image: url('../images/brandon.jpeg');
}

.speaker__photo-shape {
  position: absolute;
  left: 24px;
  top: 24px;
  right: -24px;
  bottom: -24px;
  border-style: solid;
  border-width: 8px;
  border-color: #dd244a;
}

.speaker__web {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot-divider {
  width: 4px;
  height: 4px;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #3a4669;
}

.speaker__link {
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
  color: #626d8e;
  font-size: 13px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.speaker__link:hover {
  color: #a2b4cf;
}

.speaker__occupation {
  margin-top: 12px;
  color: #a2b4cf;
  font-size: 13px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.speaker__bio {
  margin-top: 28px;
}

.speech__tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tag {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #dd244a;
  font-size: 14px;
  line-height: 1.22em;
  font-weight: 600;
}

.tag.tag--sm {
  font-size: 13px;
}

.test {
  height: 200px;
}

.speech__label {
  margin-bottom: 4px;
  color: #3a4669;
  font-size: 12px;
  line-height: 1.4em;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.future-card {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 32px 40px;
  border-top: 4px solid #dd244a;
  background-color: #122541;
}

.place {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #13b6da;
  font-size: 12px;
  line-height: 1.22em;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.place__dot {
  width: 6px;
  height: 6px;
  margin-right: 6px;
  margin-left: 6px;
  border-radius: 50%;
  background-color: #13b6da;
}

.future-card__venue {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.future-card__date {
  font-size: 14px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.future-card__shape {
  position: absolute;
  left: auto;
  top: auto;
  right: -70px;
  bottom: -115px;
  z-index: -1;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: #182d4c;
}

.speaker-sm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.speaker-sm__photo {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker-sm__photo.speaker-sm__photo--ph1 {
  background-image: url('../images/brandon.jpeg');
}

.speaker-sm__name {
  font-size: 14px;
  line-height: 1.22em;
}

.speaker-sm__occupation {
  margin-top: 4px;
  color: #626d8e;
  font-size: 13px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.speaker-sm__content {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.future__desc {
  margin-top: 16px;
}

.future__wrap {
  max-width: 344px;
}

.future__img {
  position: absolute;
  left: auto;
  top: auto;
  right: 40px;
  bottom: 12px;
}

.past-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 32px 32px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: solid;
  border-width: 2px;
  border-color: #182d4c;
  text-decoration: none;
}

.past-card__date {
  margin-bottom: 12px;
  color: #626d8e;
  font-size: 12px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.section-h {
  font-size: 32px;
  line-height: 1.32em;
}

.past-card__h {
  font-size: 24px;
}

.past-card__tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.speaker-xs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.past-card__speaker {
  margin-top: 48px;
}

.past-card__shape {
  position: absolute;
  left: auto;
  top: auto;
  right: -150px;
  bottom: -150px;
  z-index: -1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #122541;
}

.past-card__img {
  position: absolute;
  left: auto;
  top: auto;
  right: 20px;
  bottom: 20px;
}

.sec-header {
  max-width: 640px;
  margin-right: auto;
  margin-bottom: 56px;
  margin-left: auto;
  text-align: center;
}

.sec-header__desc {
  margin-top: 16px;
}

.speaker-xs__photo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.speaker-xs__photo.speaker-xs__photo--ph1 {
  background-image: url('../images/daniel.jpg');
}

.speaker-sm__nameoccupation {
  margin-top: 4px;
  color: #626d8e;
  font-size: 12px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.past-card__ic {
  position: absolute;
  left: auto;
  top: 12px;
  right: 12px;
  bottom: auto;
}

.subscribe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 96px 88px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.subscribe.subscribe--ang {
  background-color: #dd244a;
}

.subscribe.subscribe--react {
  background-color: #61dafb;
}

.subscribe.subscribe--react-vue {
  background-color: #41b883;
}

.subscribe__form {
  position: relative;
  width: 100%;
  max-width: 480px;
}

.subscribe__input {
  height: 88px;
  margin-bottom: 0px;
  padding: 34px 72px 34px 32px;
  border-style: none;
  border-radius: 0px;
  background-color: hsla(0, 0%, 100%, 0.6);
  color: #0a1930;
  font-size: 16px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.subscribe__input:focus {
  border-style: none;
  background-color: hsla(0, 0%, 100%, 0.9);
}

.subscribe__input::-webkit-input-placeholder {
  color: #182d4c;
}

.subscribe__input:-ms-input-placeholder {
  color: #182d4c;
}

.subscribe__input::-ms-input-placeholder {
  color: #182d4c;
}

.subscribe__input::placeholder {
  color: #182d4c;
}

.subscribe__desc {
  margin-top: 12px;
  color: #fff;
  font-size: 20px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.subscribe__desc.subscribe__dark {
  color: #122541;
}

.subscribe__btn {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 72px;
  border-style: none;
  background-color: transparent;
  background-image: url('../images/subscribe_ic.svg');
  background-position: 50% 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  opacity: 0.9;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.subscribe__btn:hover {
  opacity: 1;
}

.subscribe__content {
  padding-right: 52px;
}

.subscribe__success {
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.subscribe__success.subscribe__success--dark {
  color: #122541;
}

.sponsors {
  padding-top: 12px;
  padding-bottom: 112px;
}

.sponsor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.sponsor__img {
  max-height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
}

.subscribe__h-dark {
  color: #122541;
}

.footer__soc {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: -6px;
}

.footer__copyright {
  color: #626d8e;
  font-size: 12px;
  line-height: 1.22em;
  font-weight: 600;
}

.footer__title {
  margin-bottom: 20px;
  color: #626d8e;
  font-size: 14px;
  line-height: 1.22em;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__link-item {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
  color: #a2b4cf;
  font-size: 14px;
  line-height: 1.22em;
  font-weight: 600;
  text-decoration: none;
}

.footer__link-item:hover {
  color: #626d8e;
}

.footer__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 991px) {
  .btn {
    border-radius: 100px;
    background-color: #5d78a1;
  }
  .btn.btn--ang {
    background-color: #dd244a;
  }
  .topbar {
    padding-right: 32px;
    padding-left: 32px;
  }
  .hero__wrap {
    height: 94vh;
  }
  .hero__sidebar {
    min-width: 240px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .hero__container {
    padding-right: 64px;
    padding-left: 64px;
  }
  .hero__h {
    font-size: 58px;
  }
  .hero__desc {
    margin-top: 20px;
  }
  .hero__logo {
    right: -48px;
    width: 96px;
    height: 96px;
  }
  .hero__row {
    display: none;
  }
  .col.future__col-desc {
    padding-top: 24px;
    padding-left: 24px;
  }
  .col.future-card__col {
    width: 100%;
  }
  .modal__content {
    display: block;
    width: 100%;
    padding-top: 64px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .modal__bg {
    display: none;
  }
  .cta-form__btn {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cta-fotm__back-home {
    display: block;
  }
  .speaker__photo-wrap {
    height: 220px;
    max-width: 220px;
  }
  .subscribe {
    padding: 56px 32px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .hero__shape {
    display: none;
  }
  .topbar {
    position: static;
    height: 52px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #061328;
  }
  .hero__wrap {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero__sidebar {
    width: 100%;
    padding-right: 24px;
    padding-bottom: 52px;
    padding-left: 24px;
  }
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
  }
  .menu__item {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 15px;
  }
  .menu__line {
    display: none;
  }
  .hero__container {
    padding: 52px 24px 64px;
    text-align: center;
  }
  .hero__scroll {
    display: none;
  }
  .venue__date {
    color: #c2cee0;
    font-size: 14px;
  }
  .hero__h {
    margin-top: 12px;
    font-size: 42px;
  }
  .hero__desc {
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 16px;
  }
  .venue__place {
    font-size: 11px;
  }
  .venue {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .hero__logo {
    left: 0px;
    top: auto;
    right: 0px;
    bottom: -40px;
    width: 80px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
  }
  .logo {
    width: 156px;
  }
  .intro {
    margin-bottom: 48px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .row.sponsors__row-logo {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .col.intro__col {
    width: 100%;
    text-align: center;
  }
  .col.speaker__col {
    width: 100%;
    text-align: center;
  }
  .col.speaker__col-sm {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col.speech__col {
    width: 100%;
    text-align: center;
  }
  .col.speech__col-sm {
    width: 100%;
    text-align: center;
  }
  .col.future__col-desc {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col.past__col {
    width: 100%;
  }
  .col.sponsors__col-desc {
    width: 100%;
    text-align: center;
  }
  .col.sponsors__col {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .col.footer__main-col {
    width: 100%;
    padding-top: 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
  }
  .col.footer__col {
    width: 50%;
    text-align: center;
  }
  .intro__desc {
    margin-top: 16px;
    font-size: 16px;
  }
  .intro__img {
    margin-right: auto;
    margin-left: auto;
  }
  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .section.future {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .topbar__soc {
    display: none;
  }
  .modal__content {
    padding-top: 48px;
  }
  .cta-form__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
  }
  .cta-form__h {
    margin-bottom: 12px;
  }
  .cta-form__cont {
    margin-bottom: 24px;
  }
  .modal__close-btn {
    display: none;
  }
  .cta-fotm__back-home {
    display: inline-block;
  }
  .mobile-back {
    position: absolute;
    left: 12px;
    top: 12px;
    right: auto;
    bottom: auto;
    display: block;
    padding: 8px 8px 8px 22px;
    opacity: 0.64;
    font-size: 13px;
    line-height: 1.22em;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;
  }
  .mobile-back__ic {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 18px;
    height: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .speaker__photo-wrap {
    height: 160px;
    max-width: 160px;
    margin-right: auto;
    margin-left: auto;
  }
  .speaker__photo-shape {
    left: 12px;
    top: -12px;
    right: -12px;
    bottom: 12px;
    border-width: 4px;
  }
  .speaker__web {
    margin-top: 12px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .speaker__occupation {
    margin-top: 8px;
  }
  .speaker__bio {
    max-width: 640px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .speech__tags {
    margin-top: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .future__wrap {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .future__img {
    display: none;
  }
  .section-h {
    font-size: 24px;
  }
  .past-card__tags {
    margin-top: 16px;
  }
  .sec-header {
    margin-bottom: 28px;
  }
  .subscribe {
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .subscribe__input {
    height: 72px;
  }
  .subscribe__content {
    margin-bottom: 24px;
    padding-right: 0px;
  }
  .sponsors {
    padding-bottom: 40px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__links {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 479px) {
  .venue__place {
    margin-bottom: 4px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .venue {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .row.future-card__row {
    margin-bottom: 28px;
  }
  .col.sponsors__col-logo {
    width: 50%;
  }
  .cta-form__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .cta-fotm__back-home {
    margin-top: 16px;
  }
  .future-card {
    padding: 24px 24px 32px;
  }
  .future-card__venue {
    margin-bottom: 24px;
  }
  .future__desc {
    margin-top: 12px;
  }
  .future__img {
    display: none;
  }
  .future-card__btn {
    text-align: center;
  }
  .past-card {
    padding: 24px 24px 32px;
  }
  .past-card__tags {
    margin-top: 12px;
  }
  .past-card__speaker {
    margin-top: 32px;
    padding-right: 16px;
  }
  .past-card__img {
    right: 12px;
    bottom: 12px;
    width: 18px;
  }
  .past-card__ic {
    top: 8px;
    right: 8px;
    width: 20px;
  }
  .subscribe {
    padding-right: 20px;
    padding-left: 20px;
  }
  .subscribe__input {
    height: 64px;
    padding-right: 48px;
    padding-left: 16px;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .subscribe__btn {
    width: 48px;
    background-size: 20px 20px;
  }
}

